html, body {
    margin: 0 auto;
    padding: 0;
    font-family: "Cuprum", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

ul {
    list-style-type: none;
    padding: 0;
}

h1 {
    font-family: cuprum;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;
}

h2 {
    font-family: cuprum;
    font-weight: bold;
    font-size: 36px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 0;
}

h3 {}

p {
    font-family: "Pt Sans";
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 940px;
}

header {}

.header-up {
    width: 100%;
    height: 42px;
    background: #293449;
    position: relative;
}

.header-up:hover {
    background: #212a3a;
}

.logo {
    display: block;
    float: left;
    position: relative;
    top: 0px;
    width: 120px;
    height: 22px;
    padding: 10px 50px;
    text-align: center;
    background: #ee3643;
    border-bottom: 5px solid #b52933;
    color: white;
    font-size: 24px;
    line-height: 24px;
}

.logo:hover {
    background: #ca2c37;
    border-bottom: 5px solid #9a212a;
}

.logo:active {
    background: #ba2732;
    border-bottom: 5px solid #8e1e26;
}

.form-find {
    display: block;
    position: relative;
    float: left;
    margin-right: 45px;
}

.form-find::before {
    display: block;
    position: absolute;
    content: "";
    background-image: url("../img/icon-zoom.png");
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    top: 11px;
    left: 13px;
    z-index: 10;
}

.form-find input[type="text"] {
    display: block;
    position: relative;
    padding-left: 50px;
    padding: 16px 50px 14px;
    width: 170px;
    height: 12px;
    font-size: 17px;
    line-height: 18px;
    color: #fff;
    background: #293449;
    border: none;
}

.bookmarks {
    display: block;
    position: relative;
    float: left;
    font-size: 17px;
    line-height: 18px;
    padding: 14px 20px 16px 0px;
    text-align: center;
    height: 12px;
    color: #fff;
}

.busket {
    display: block;
    position: relative;
    float: right;
    width: 75px;
    font-size: 17px;
    line-height: 18px;
    padding: 14px 25px 16px 50px;
    text-align: center;
    height: 12px;
    color: #fff;
}

.busket-active {
    background: #ee3643;
    float: right;
}

.checkout {
    display: block;
    float: right;
    width: 113px;
    height: 12px;
    font-size: 17px;
    line-height: 18px;
    background: #63a63e;
    padding: 14px 20px 16px 20px;
    text-align: center;
    color: white;
    position: relative;
}

.checkout:hover {
    background: #5fbb2d;
}

.checkout:active {
    background: #518534;
    color: rgba(255, 255, 255, 0.5);
}

.bookmarks::before {
    display: block;
    content: "";
    top: 13px;
    left: -30px;
    position: absolute;
    background-image: url("../img/icon-bookmark.png");
    width: 14px;
    height: 16px;
    background-repeat: no-repeat;
}

.busket::before {
    display: block;
    content: "";
    top: 13px;
    left: 20px;
    position: absolute;
    background-image: url("../img/icon-basket.png");
    width: 17px;
    height: 16px;
    background-repeat: no-repeat;
}

.header-middle {
    padding: 50px 50px 38px 50px;
    height: 70px;
    text-align: left;
    background: #f1f5f7;
}

.header-about p {
    display: block;
    float: left;
    margin-right: 90px;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
    font-style: italic;
    margin-left: 20px;
}

.contacts {
    display: block;
    float: left;
    text-align: center;
}

.telephone {
    width: 144px;
    border: 3px solid white;
    padding: 10px 50px 10px 70px;
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    line-height: 18px;
    color: #ee3643;
}

.adress {
    margin: 0;
    padding: 0;
}

.registration {
    display: block;
    position: relative;
    float: right;
    padding: 10px 25px 10px 25px;
    margin-left: 10px;
    font-size: 21px;
    line-height: 18px;
    color: #000;
    background: #fff;
}

.login-button-user {
    display: block;
    width: 300px;
    float: right;
    margin-right: 15px;
}

.login-button-user a {
    display: inline-block;
    position: relative;
    font-family: "cuprum";
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    margin-top: 5px;
    margin-right: 35px;
    text-decoration: underline;
}

.orders {
    position: relative;
    margin-left: 30px;
}

.orders:before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 92px;
    background-image: url("../img/icon-shape.png");
    background-repeat: no-repeat;
    width: 4px;
    height: 5px;
}

.user {
    display: block;
    position: relative;
    float: right;
    font-family: "cuprum";
    width: 250px;
    padding: 10px 0px 10px 50px;
    margin-bottom: 5px;
    font-size: 21px;
    line-height: 18px;
    color: #000;
    background: #fff;
    margin-right: -15px;
}

.user::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 12px;
    background-image: url("../img/icon-user.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 18px;
}

.user::after {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 265px;
    background-image: url("../img/icon-logout.png");
    background-repeat: no-repeat;
    width: 21px;
    height: 17px;
}

.login {
    display: block;
    position: relative;
    float: right;
    padding: 10px 25px 10px 50px;
    margin-left: 10px;
    font-size: 21px;
    line-height: 18px;
    background: #fff;
    color: #000;
}

.login:hover, .registration:hover {
    color: #ee3643;
}

.login:active, .registration:active {
    color: #c5c5c5;
}

.login::before {
    display: block;
    content: "";
    position: absolute;
    width: 20px;
    height: 17px;
    background-image: url("../img/icon-login.png");
    background-repeat: no-repeat;
    left: 15px;
    color: #000;
}

.login:hover::before {
    background-image: url("../img/icon-login-hover.png");
}

.login:active::before {
    background-image: url("../img/icon-login.png");
}

.top-menu {
    padding-bottom: 60px;
    height: 60px;
    text-align: center;
    background: #f1f5f7;
}

.menu {
    background: #32425c;
    border-bottom: #293449 solid 5px;
    margin-top: 0;
    font-size: 0;
}

.menu a {
    display: inline-block;
    vertical-align: middle;
    height: 15px;
    padding: 20px 30px 20px;
    background: #32425c;
    text-align: center;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    color: #fff;
}

.menu a:hover {
    background: #293449;
}

.menu a:active {
    background: #293449;
    color: #c5c5c5;
}

main {
    padding-top: 60px;
}


.catalog-menu{
  height: 410px;
  margin-bottom: 23px;
}

.catalog{
  margin-bottom: 45px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.catalog-up {
    height: 123px;
    margin-bottom: 20px;
}

.materials, .tools, .technics, .discounts, .delivery {
    width: 251px;
    height: 81px;
    display: block;
    float: left;
    padding: 19px 25px 23px 24px;
}

.slider {
    display: block;
    float: left;
}

.materials h3, .tools h3, .technics h3, .discounts h3, .delivery h3 {
    font-family: cuprum;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: white;
    margin: 0;
    margin-bottom: 10px;
}

.btn {
    display: block;
    width: 140px;
    height: 12px;
    padding: 11px 0 14px 0;
    text-align: center;
    font-family: cuprum;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.btn:hover {
    background: rgba(0, 0, 0, 0.2);
}

.btn:active {
    background: rgba(0, 0, 0, 0.3);
}

.materials {
    position: relative;
    background-color: #f6b22d;
    margin-right: 20px;
    background-image: url("../img/icon-materials.png");
    background-repeat: no-repeat;
    background-position: 214px 28px;
}

.materials::before {
    content: "";
    display: block;
    top: 0;
    right: 0;
    position: absolute;
    background-image: url("../img/icon-new.png");
    background-repeat: no-repeat;
    width: 60px;
    height: 59px;
}

.tools {
    background-color: #4aafde;
    margin-right: 20px;
    background-image: url("../img/icon-drill.png");
    background-repeat: no-repeat;
    background-position: 198px 31px;
}

.technics {
    background-color: #cc79d1;
    background-image: url("../img/icon-tractor.png");
    background-repeat: no-repeat;
    background-position: 192px 28px;
}

.slider {
    position: relative;
    width: 620px;
    height: 266px;
    margin-right: 20px;
    background-image: url("../img/slider-1.jpg");
    background-repeat: no-repeat;
}

.slider-text {
    padding: 25px 25px 22px 25px;
}

.slider h2 {
    font-family: cuprum;
    font-weight: bold;
    font-size: 36px;
    line-height: 30px;
    text-transform: uppercase;
    color: white;
    margin: 0;
    margin-bottom: 5px;
}

.slider p {
    font-family: cuprum;
    font-size: 18px;
    line-height: 22px;
    color: white;
    margin: 0;
}

.arrow-left {
    position: absolute;
    display: block;
    top: 42%;
    left: 25px;
    background-image: url("../img/arrow-left.png");
    background-repeat: no-repeat;
    width: 22px;
    height: 44px;
    z-index: 2;
}

.arrow-right {
    position: absolute;
    display: block;
    top: 42%;
    right: 25px;
    background-image: url("../img/arrow-right.png");
    background-repeat: no-repeat;
    width: 22px;
    height: 44px;
    z-index: 2;
}

.btn-slider {
    position: absolute;
    top: 205px;
    left: 25px;
    background: #ee3643;
    width: 195px;
    text-transform: uppercase;
}

.btn-slider:hover, .btn-popular-items:hover, .btn-producers-items:hover {
    background: #ca2c37;
}

.btn-slider:active, .btn-popular-items:active, .btn-producers-items:active {
    background: #ba2732;
}

.discounts {
    background-color: #85d179;
    margin-bottom: 20px;
    background-image: url("../img/icon-big-basket.png");
    background-repeat: no-repeat;
    background-position: 196px 25px;
}

.delivery {
    background-color: #f6b22d;
    background-image: url("../img/icon-delivery.png");
    background-repeat: no-repeat;
    background-position: 192px 29px;
}

.popular-items {
    height: 455px;
}

.popular-producers {
    height: 420px;
    margin-top: -5px;
    margin-bottom: 85px;
}

.popular-items-header, .popular-producers-header {
    background-color: #f7f3ec;
    position: relative;
    padding: 30px 45px 30px 30px;
    height: 25px;
    margin-bottom: 23px;
}

.catalog-punchers h2 {
    background-color: #f2f6f8;
    position: relative;
    font-weight: normal;
    font-size: 30px;
    padding: 30px 45px 30px 30px;
    height: 25px;
    margin-bottom: 20px;
}

.populat-items-slct {
    text-align: center;
    position: relative;
}

.popular-items-header h2, .popular-producers-header h2 {
    font-family: cuprum;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
    color: #32425c;
}

.btn-popular-items, .btn-producers-items {
    position: absolute;
    top: 24px;
    right: 25px;
    background: #ee3643;
    width: 251px;
    text-transform: uppercase;
}

.populat-items-slct b, .catalog-items b {
    font-family: "PT Sans";
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #000;
}

.item-bfg9000, .item-bfg3000, .item-bfg6000, .item-bfg2000 {
    float: left;
    margin-right: 20px;
    width: 168px;
    height: 116px;
    padding: 180px 25px 20px 25px;
    border: 1px #e5e5e5 solid;
    text-align: center;
}

.item-bfg9000 {
    background-image: url("../img/bfg-9000.png");
    background-repeat: no-repeat;
    background-position: 15px 5px;
    text-align: center;
}

.item-bfg3000 {
    background-image: url("../img/bfg-3000.png");
    background-repeat: no-repeat;
    background-position: 40px 27px;
}

.item-bfg6000 {
    background-image: url("../img/bfg-6000.png");
    background-repeat: no-repeat;
    background-position: 25px 20px;
}

.item-bfg2000 {
    background-image: url("../img/bfg-2000.png");
    background-repeat: no-repeat;
    background-position: 30px 30px;
    margin-right: 0px;
}

.old-price {
    display: inline-block;
    text-decoration: line-through;
    font-family: "PT Sans";
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
    color: #999;
}

.new-price {
    position: relative;
    font-family: "PT Sans";
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: #fff;
    width: 85px;
    margin-top: 8px;
    margin-left: 22px;
    height: 18px;
    padding: 10px 18px;
    text-align: center;
    background: #ee3643;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.triangle {
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-left: 20px solid #ee3643;
    border-bottom: 19px solid transparent;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.bosch, .makiita, .dewalt, .interskol, .hitachi, .lg, .aeg, .metabo {
    display: block;
    float: left;
    width: 218px;
    height: 143px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #e7e7e7;
}

.bosch:hover, .makiita:hover, .dewalt:hover, .interskol:hover, .hitachi:hover, .lg:hover, .aeg:hover, .metabo:hover {
    border: 1px solid white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.bosch:active, .makiita:active, .dewalt:active, .interskol:active, .hitachi:active, .lg:active, .aeg:active, .metabo:active {
    border: 1px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0.3;
}

.interskol, .metabo {
    margin-right: 0;
}

.bosch {
    background-image: url("../img/logo-bosch.png");
    background-repeat: no-repeat;
    background-position: center 50px;
}

.makiita {
    background-image: url("../img/logo-makita.png");
    background-repeat: no-repeat;
    background-position: center;
}

.dewalt {
    background-image: url("../img/logo-dewalt.png");
    background-repeat: no-repeat;
    background-position: center;
}

.interskol {
    background-image: url("../img/logo-interskol.png");
    background-repeat: no-repeat;
    background-position: center 20px;
}

.hitachi {
    background-image: url("../img/logo-hitachi.png");
    background-repeat: no-repeat;
    background-position: center 60px;
}

.lg {
    background-image: url("../img/logo-lg.png");
    background-repeat: no-repeat;
    background-position: center 35px;
}

.aeg {
    background-image: url("../img/logo-aeg.png");
    background-repeat: no-repeat;
    background-position: center 20px;
}

.metabo {
    background-image: url("../img/logo-metabo.png");
    background-repeat: no-repeat;
    background-position: center 30px;
}

.services {
    height: 385px;
    background: #f2f6f8;
    padding-top: 64px;
    padding-bottom: 70px;
}

.services .container {
    position: relative;
    background-image: url(../img/truck.png);
    background-repeat: no-repeat;
    background-position: 470px 192px;
    height: 450px;
}

.services .container::before {
    content: "";
    display: block;
    top: 130px;
    left: 228px;
    position: absolute;
    background-image: url("../img/vertical-shadow.png");
    background-repeat: no-repeat;
    width: 10px;
    height: 272px;
}

.services h2, .company h2 {
    font-weight: normal;
    color: #000;
    font-size: 30px;
    line-height: 30px;
}

.btn-service {
    display: block;
    width: 192px;
    height: 27px;
    padding: 17px 23px;
    background: #32425c;
    color: white;
    border-bottom: 1px solid #293449;
    font-family: cuprum;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    margin: 0;
}

.btn-service:hover {
    background: #293449;
    color: #ffffff;
}

.btn-service:active {
    background: #fff;
    color: #32425c;
}

.btn-service-active {
    background: #fff;
    color: #32425c;
    display: block;
    width: 192px;
    height: 27px;
    padding: 17px 23px;
    border-bottom: 1px solid #293449;
    font-family: cuprum;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    margin: 0;
}

.service-items-menu {
    float: left;
    margin-top: 55px;
    margin-right: 80px;
}

.service-items-text {
    margin-top: 75px;
}

.service-items-text h2 {
    font-size: 36px;
    line-height: 24px;
    color: #32425c;
}

.company {
    padding-top: 80px;
    padding-bottom: 85px;
    height: 370px;
}

.company-about {
    display: block;
    position: relative;
    float: left;
    margin-right: 129px;
}

.company-about ul {
    margin-top: 23px;
}

.company-about li {
    position: relative;
    display: block;
    font-size: 18px;
    color: #000;
    margin-left: 37px;
    margin-top: 15px;
}

.company-about li::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: -37px;
    background-image: url("../img/red-line.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 2px;
}

.company-map {
    display: block;
    width: 300px;
    float: left;
}

.company-map a {
    display: block;
    margin-top: 32px;
}

.btn-more {
    background: #ee3643;
    width: 220px;
    text-transform: uppercase;
    margin-top: 35px;
}

.btn-contacts {
    background: #ee3643;
    width: 300px;
    text-transform: uppercase;
}


/* FOOTER */

.footer-top {
    background: #32425c;
    height: 120px;
    padding-top: 25px;
    padding-bottom: 50px;
}

.footer-top-left {
    display: block;
    float: left;
    width: 330px;
    margin-right: 60px;
}

.logo-bottom {
    position: relative;
    top: -39px;
    display: block;
    margin-bottom: -10px;
    width: 220px;
    height: 22px;
    padding: 20px 0;
    text-align: center;
    background: #ee3643;
    border-bottom: 5px solid #b52933;
    color: white;
    font-size: 30px;
    line-height: 30px;
}

.footer-top-left p {
    display: block;
    font-family: cuprum;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.footer-top-right li {
    display: inline-block;
    margin-right: 55px;
}

.footer-top-right li:last-child {
    margin-right: 0px;
}

.menu-footer-top a {
    font-family: cuprum;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #fff;
}

.menu-footer-bottom a {
    font-family: cuprum;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #ffd180;
}

.menu-footer-top a:hover, .menu-footer-bottom a:hover {
    text-decoration: underline;
}

.menu-footer-top a:active {
    color: rgba(241, 245, 247, 0.5);
    text-decoration: none;
}

.menu-footer-bottom a:active {
    color: rgba(255, 209, 128, 0.5);
    text-decoration: none;
}

.menu-footer-bottom li:first-child {
    margin-left: 23px;
    margin-top: 17px;
}

.footer-bottom {
    height: 35px;
    padding: 35px 0;
    background: #293449;
}

.copyright {
    display: block;
    float: left;
    margin-right: 160px;
    color: white;
    font-family: cuprum;
    font-size: 16px;
    line-height: 18px;
}

.social {
    display: block;
    float: left;
    margin-right: 120px;
}

.social-btn {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #212a3a;
}

.social-btn:hover {
    background: #ee3643;
}

.social-btn:active {
    background: #ee3643;
}

.vk, .vk:hover, .vk:active {
    background-image: url("../img/logo-vk.png");
    background-repeat: no-repeat;
    background-position: center;
}

.fb, .fb:hover, .fb:active {
    background-image: url("../img/logo-fb.png");
    background-repeat: no-repeat;
    background-position: center;
}

.inst, .inst:hover, .inst:active {
    background-image: url("../img/logo-inst.png");
    background-repeat: no-repeat;
    background-position: center;
}

.write-me {
    display: block;
}

.write-me p {
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
    color: white;
    font-family: cuprum;
    font-size: 16px;
    line-height: 18px;
}

.write-me span {
    color: #ffd180;
}

.write-me span:hover {
    color: #ffd180;
    text-decoration: underline;
}

.write-me span:active {
    color: #ee3643;
}

.write-me p:last-child {
    margin-right: 0;
}


/* CATALOG */

.breadcrumbs {
    margin-top: -43px;
    margin-bottom: 20px;
}

.icon-home {
    background-image: url("../img/icon-home.png");
    background-repeat: no-repeat;
    width: 15px;
    height: 12px;
}

.icon-right {
    background-image: url("../img/icon-right.png");
    background-repeat: no-repeat;
    width: 8px;
    height: 12px;
}

.bc {
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
    color: black;
    margin-right: 15px;
}

.filter {
    float: left;
    width: 220px;
    margin-right: 20px;
}

.filter b {
    display: block;
    background: #f7f3ec;
    font-size: 13px;
    font-family: "PT Sans";
    line-height: 18px;
    padding: 10px 0 10px 18px;
}

.catalog-items {
    float: left;
}

.sorting {
    display: block;
    background: #f7f3ec;
    font-size: 13px;
    font-family: "PT Sans";
    line-height: 18px;
    padding: 7px 20px 7px 18px;
    margin-bottom: 20px;
}

.sorting a, .sorting p {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
}

.sorting a {
    margin-right: 50px;
    color: rgba(0, 0, 0, 0.3);
}

.sorting a:hover {
    margin-right: 50px;
    color: rgba(0, 0, 0, 1);
}

.sorting a:active {
    margin-right: 50px;
    color: #ee3643;
}

.sorting-price-active {
    margin-right: 50px;
    color: #ee3643;
}

.sorting p {
    margin-right: 140px;
}

.catalog h2, .catalog h2 {
    font-family: "PT Sans";
    text-transform: uppercase;
}

.sorting-up {
    float: right;
    background: url("../img/icon-up.png");
    background-repeat: no-repeat;
    position: relative;
    top: 7px;
    padding-right: 10px;
    width: 11px;
    height: 10px;
}

.sorting-up:hover {
    background: url("../img/icon-up-hover.png");
    background-repeat: no-repeat;
    padding-right: 10px;
    position: relative;
    top: 7px;
    width: 11px;
    height: 10px;
}

.sorting-up:active {
    background: url("../img/icon-up-active.png");
    background-repeat: no-repeat;
    padding-right: 10px;
    position: relative;
    top: 7px;
    width: 11px;
    height: 10px;
}

.sorting-down {
    float: right;
    background: url("../img/icon-down.png");
    background-repeat: no-repeat;
    position: relative;
    top: 7px;
    width: 11px;
    height: 10px;
}

.sorting-down:hover {
    background: url("../img/icon-down-hover.png");
    background-repeat: no-repeat;
    position: relative;
    top: 7px;
    width: 11px;
    height: 10px;
}

.sorting-down:active {
    background: url("../img/icon-down-active.png");
    background-repeat: no-repeat;
    position: relative;
    top: 7px;
    width: 11px;
    height: 10px;
}

.range-filter {
    width: 220px;
    padding-bottom: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.range-controls {
    height: 80px;
    position: relative;
    padding: 0px 20px;
    background: #f7f3ec;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.scale {
    position: absolute;
    margin-top: 39px;
    width: 180px;
    height: 2px;
    background: #d7dcde;
}

.bar {
    position: absolute;
    height: 2px;
    background: #00ca74;
}

.toggle {
    display: block;
    border: 8px solid #ffffff;
    width: 4px;
    background: #ababab;
    height: 4px;
    border-radius: 8px;
    top: 30px;
    left: 20px;
}

.min-toggle {
    position: absolute;
    left: 20px;
}

.max-toggle {
    position: absolute;
    left: 145px;
}

.price-controls {
    font-family: "PT Sans";
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}

.price-controls input {
    border: none;
    background: #f7f3ec;
    padding: 12px 10px 14px 10px;
    font-weight: normal;
    width: 75px;
    height: 12px;
    text-align: center;
    border-radius: 5px;
}

.min-price, .max-price {
    display: inline-block;
    text-align: center;
}

.min-price{
  margin-right: 8px;
}

.max-price{
  float: right;
}

.catalog-companys{
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.catalog-voltages {
  margin-bottom: 70px;
}

.range-filter h3, .catalog-voltages h3, .catalog-companys h3 {
    font-size: 17px;
    line-height: 30px;
    font-family: "PT Sans";
    margin-bottom: 10px;
    color: #000;
}

.catalog-voltages label, .catalog-companys label {
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    color: #000;
    padding-left: 35px;
}

.catalog-voltages input[type="radio"], .catalog-companys input[type="checkbox"] {
    display: none;
}

.catalog-voltages input[type="radio"]+label, .catalog-companys input[type="checkbox"]+label {
    display: block;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
}

.catalog-voltages input[type="radio"]+label::before {
    content: "";
    display: block;
    left: 0px;
    top: 3px;
    position: absolute;
    background-image: url("../img/icon-circle.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.catalog-voltages input[type="radio"]+label:hover::before {
    content: "";
    display: block;
    left: 0px;
    top: 3px;
    position: absolute;
    background-image: url("../img/icon-circle-dot.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.catalog-voltages input[type="radio"]:checked+label::before {
    content: "";
    display: block;
    left: 0px;
    top: 3px;
    position: absolute;
    background-image: url("../img/icon-circle-dot.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.catalog-voltages input[type="radio"]:disabled+label::before {
    content: "";
    display: block;
    left: 0px;
    top: 3px;
    position: absolute;
    background-image: url("../img/radio-block.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.catalog-companys input[type="checkbox"]+label::before {
    content: "";
    display: block;
    left: 0px;
    top: 4px;
    position: absolute;
    background-image: url("../img/icon-check-off.png");
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
}

.catalog-companys input[type="checkbox"]+label:hover::before {
    content: "";
    display: block;
    left: 0px;
    top: 4px;
    position: absolute;
    background-image: url("../img/icon-check-off.png");
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
}

.catalog-companys input[type="checkbox"]:checked+label::before {
    content: "";
    display: block;
    left: 0px;
    top: 4px;
    position: absolute;
    background-image: url("../img/icon-check-on.png");
    background-repeat: no-repeat;
    width: 27px;
    height: 23px;
}

.catalog-companys input[type="checkbox"]:disabled+label::before {
    content: "";
    display: block;
    left: 0px;
    top: 4px;
    position: absolute;
    background-image: url("../img/checkbox-block.png");
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
}

.site-form button {
    padding: 12px 0;
    width: 150px;
    font-family: "PT Sans";
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border: none;
    background: #f1f1f1;
    color: #000;
    margin-top: 55px;
}

.catalog-items-header, .catalog-items-middle, .catalog-items-bottom {
    background: #fff;
    height: 320px;
    margin-bottom: 20px;
}

.catalog-items-header .item-bfg2000, .catalog-items-middle .item-bfg6000, .catalog-items-bottom .item-bfg3000 {
    position: relative;
}

.catalog-items-header .item-bfg2000::before, .catalog-items-middle .item-bfg6000::before, .catalog-items-bottom .item-bfg3000::before {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 59px;
    top: 0;
    right: 0;
    background: url("../img/icon-new.png");
    background-repeat: no-repeat;
}

.filter button{
  width: 140px;
  height: 40px;
  border: 1px solid #e5e5e5;
  background: #fff;
  color: #000;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-items-bottom {
  margin-bottom: 47px;
}

.paginator li {
    display: inline-block;
    vertical-align: top;
}

.paginator a {
    display: block;
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: bold;
    color: black;
    height: 25px;
    min-width: 28px;
    padding: 8px 5px 5px;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    margin-right: 5px;
}

.next{
  width: 125px;
}

.paginator .active {
    background: #ee3643;
    color: #fff;
}

.paginator a:hover {
    border: 1px solid #bdc6ca;
}

.paginator a:active {
    border: 1px solid #ee3643;
}

.about-punchers {
    width: 100%;
    background: #f2f6f8;
    padding: 65px 0 75px;
    height: 120px;
}

.about-punchers h1 {
    color: black;
    font-weight: normal;
}

.about-punchers p {
    font-family: "PT Sans";
    font-size: 13px;
    color: black;
}
