html, body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: white;
    text-decoration: none;
    background: #849d8f url("../img/bg-light1.png") no-repeat;
    background-position: top center;
}

.body-catalog{
  background: #849d8f;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 60px;
    line-height: 61px;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: 35px;
    line-height: 41px;
    text-align: left;
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
}

h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #323232;
    text-align: left;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

p {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    text-align: center;
    width: 1150px;
    padding: 0 30px;
    position: relative;
}

header {
    height: 125px;
}

.logo {
    display: block;
    float: left;
    background: url("../img/logo-gllacy.png") no-repeat;
    width: 154px;
    height: 64px;
    margin-right: 30px;
}

nav {
    position: relative;
    top: 20px;
}

nav li {
    display: inline-block;
    float: left;
    margin-right: 25px;
    text-align: left;
    font-weight: bold;
}

.users-help {
    position: relative;
    top: 15px;
    float: right;
    text-align: right;
    font-size: 14px;
    line-height: 16px;
}

.us-btn {
    display: block;
    float: right;
    margin-left: 10px;
    margin-bottom: 20px;
    height: 12px;
    padding: 8px 16px 12px;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
}

.busket, .login {
    padding-left: 45px;
}

.busket::before {
    display: block;
    content: "";
    position: absolute;
    top: 7px;
    left: 15px;
    background: url("../img/icon-busket.png") no-repeat;
    opacity: 1;
    width: 21px;
    height: 20px;
    z-index: 1;
}

.login::before {
    display: block;
    content: "";
    position: absolute;
    top: 7px;
    left: 15px;
    background: url("../img/icon-login.png") no-repeat;
    opacity: 1;
    width: 21px;
    height: 19px;
    z-index: 1;
}

.search::before {
    display: block;
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    background: url("../img/icon-search.png") no-repeat;
    opacity: 1;
    width: 17px;
    height: 17px;
    z-index: 1;
}

.users-help p {
    text-align: right;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.users-help span {
    font-size: 22px;
    line-height: 24px;
}

.slider {
    height: 584px;
    text-align: center;
    margin: -60px auto 0;
    background: url("../img/icecream-1.png") no-repeat;
    background-position: center;
    z-index: 1;
}

.slider h1 {
    position: relative;
    top: 240px;
}

.slider-buttons {
    position: relative;
    top: 465px;
    left: 5px;
}

.slider-buttons ul {
    position: relative;
    top: 13px;
    text-align: left;
    padding: 0;
}

.slider-buttons li {
    display: inline-block;
    margin-right: 3px;
}

.slider-buttons a {
    display: block;
    width: 17px;
    height: 17px;
    border: 2px solid #fff;
    border-radius: 9px;
}

.sales {
    height: 230px;
    margin-top: -25px;
    margin-bottom: 40px;
    z-index: 2;
    text-align: left;
}

.raspberries-sale {
    float: left;
    width: 520px;
    height: 190px;
    padding: 20px;
}

.chocolate-sale {
    float: right;
    width: 520px;
    height: 190px;
    padding: 20px;
}

.raspberries-sale {
    background: url("../img/raspberries.jpg");
    background-size: cover;
    border-radius: 16px;
}

.chocolate-sale {
    background: url("../img/chocolate.jpg");
    background-size: cover;
    border-radius: 16px;
}

.btn {}

.icecreams-items {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 25px;
}

.icecream-item {
    display: block;
    float: left;
    margin-right: 27px;
    margin-bottom: 80px;
    position: relative;
    width: 266px;
    height: 266px;
    border-radius: 133px;
}

.icecream-item:nth-child(4n) {
    margin-right: 0px;
}

.item1 {
    background: url("../img/rounc-ic-1.png") no-repeat;
}

.item2 {
    background: url("../img/rounc-ic-2.png") no-repeat;
}

.item3 {
    background: url("../img/rounc-ic-3.png") no-repeat;
}

.item4 {
    background: url("../img/rounc-ic-4.png") no-repeat;
}

.item5 {
    background: url("../img/rounc-ic-5.png") no-repeat;
}

.item6 {
    background: url("../img/rounc-ic-6.png") no-repeat;
}

.item7 {
    background: url("../img/rounc-ic-7.png") no-repeat;
}

.item8 {
    background: url("../img/rounc-ic-8.png") no-repeat;
}

.item9 {
    background: url("../img/rounc-ic-9.png") no-repeat;
}

.item10 {
    background: url("../img/rounc-ic-10.png") no-repeat;
}

.item11 {
    background: url("../img/rounc-ic-11.png") no-repeat;
}

.item12 {
    background: url("../img/rounc-ic-12.png") no-repeat;
}

.item1 b, .item2 b, .item3 b, .item4 b, .item5 b, .item6 b, .item7 b, .item8 b, .item9 b, .item10 b, .item11 b, .item12 b {
    display: block;
    position: absolute;
    top: 210px;
    left: 0;
    bottom: 0;
    font-size: 45px;
    line-height: 45px;
    text-shadow: 1px 0 3px rgba(49, 50, 53, 0.5);
}

.item1 a, .item2 a, .item3 a, .item4 a, .item5 a, .item6 a, .item7 a, .item8 a, .item9 a, .item10 a, .item11 a, .item12 a {
    display: inline-block;
    position: relative;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    top: 220px;
    left: 1px;
}

.rubl {
    display: inline-block;
    position: relative;
    top: 4px;
    left: 1px;
    background: url("../img/icon-rubl.png") no-repeat;
    text-shadow: 1px 0 3px rgba(49, 50, 53, 0.5);
    width: 31px;
    height: 36px;
}

.hitt {
    width: 60px;
    height: 60px;
    background: url("../img/hitt.jpg") no-repeat;
    border-radius: 30px;
}

.hitt-off{
  width: 60px;
  height: 60px;
  background: url("../img/hitt.jpg") no-repeat;
  border-radius: 30px;
  opacity: 0;
}

.about {
    width: 1110px;
    height: 265px;
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 40px;
    background: url("../img/pattern-vafli.jpg") repeat;
    background-size: cover;
}

.about p {
    display: block;
    position: relative;
    top: 17px;
    float: left;
    width: 475px;
    font-size: 16px;
    line-height: 21px;
    color: #323232;
}

.about-icecream, .about-cow, .about-list, .about-temperature {
    float: left;
    width: 540px;
    margin-right: 25px;
}

.about-cow, .about-temperature {
    float: right;
    margin-right: 0px;
}

.about-icecream, .about-cow {
    margin-bottom: 25px;
}

.about-icecream-icon {
    display: block;
    float: left;
    margin-right: 10px;
    width: 48px;
    height: 49px;
    background: url("../img/icon-icecream.png") no-repeat;
}

.about-cow-icon {
    display: block;
    float: left;
    margin-right: 10px;
    width: 48px;
    height: 49px;
    background: url("../img/icon-cow.png") no-repeat;
}

.about-list-icon {
    display: block;
    float: left;
    margin-right: 10px;
    width: 48px;
    height: 49px;
    background: url("../img/icon-list.png") no-repeat;
}

.about-temperature-icon {
    display: block;
    float: left;
    margin-right: 10px;
    width: 48px;
    height: 49px;
    background: url("../img/icon-temperature.png") no-repeat;
}

.blog-mail {
    height: 220px;
    margin-bottom: 40px;
}

.blog {
    float: left;
    width: 520px;
    height: 180px;
    padding: 20px;
    background: #fff url("../img/bg-blog.jpg") no-repeat;
    background-position: center right;
    border-radius: 16px;
}

.blog h3 {
    text-decoration: underline;
}

.blog p, .mail-bg p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
    color: #323232;
}

.mail {
    box-sizing: border-box;
    float: right;
    width: 560px;
    height: 220px;
    background: #fff url("../img/pattern-mail.jpg") repeat;
    border-radius: 16px;
    padding: 5px;
}

.mail-bg {
    border-radius: 16px;
    background: #f8f7f4;
    width: 510px;
    height: 140px;
    padding: 35px 20px;
}

.breadcrumbs{
  margin-top: -35px;
  margin-bottom: 10px;
}

.breadcrumbs a:first-child{
  margin-left: 0;
}

.breadcrumbs a, .breadcrumbs span {
    display: inline-block;
    margin: 0px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-decoration: underline;
}

.breadcrumbs span {
    text-decoration: none;
}

.contacts {
    margin: 0 auto;
    position: relative;
    height: 430px;
    background: url("../img/map-gllacy.jpg") no-repeat;
}

.addres {
    position: absolute;
    top: 60px;
    right: 0;
    border-radius: 16px;
    width: 270px;
    height: 240px;
    padding: 35px 25px 30px 25px;
    background: #fff;
}

.addres p {
    font-size: 14px;
    line-height: 20px;
    color: #323232;
    margin-bottom: 20px;
}

.addres span {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

footer {
    height: 40px;
    padding: 35px 0 30px;
}

.social {
    float: left;
    margin-right: 215px;
}

.social-btn {
    display: inline-block;
    margin-right: 10px;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: 3px solid rgba(255, 255, 255, 0.5);
}

.tw {
    width: 31px;
    height: 31px;
    opacity: 0.8;
    background: url("../img/icon-tw.png") no-repeat;
    background-position: center;
}

.inst {
    width: 31px;
    height: 31px;
    opacity: 0.8;
    background: url("../img/icon-inst.png") no-repeat;
    background-position: center;
}

.fb {
    width: 31px;
    height: 31px;
    opacity: 0.8;
    background: url("../img/icon-fb.png") no-repeat;
    background-position: center;
}

.vk {
    width: 31px;
    height: 31px;
    opacity: 0.8;
    background: url("../img/icon-vk.png") no-repeat;
    background-position: center;
}

.about-services {
    float: left;
    text-align: left;
    position: relative;
}

.about-services:before {
    display: block;
    content: "";
    position: absolute;
    top: 4px;
    left: -20px;
    background: url("../img/icon-heart.png") no-repeat;
    width: 15px;
    height: 13px;
}

.about-services a {
    font-size: 13px;
    line-height: 18px;
    margin-right: 10px;
    text-decoration: underline;
}

.copyright {
    position: relative;
    top: -10px;
    float: right;
}

.copyright p {
    font-size: 13px;
    line-height: 18px;
}

.copyright a {
    font-size: 13px;
    line-height: 18px;
    text-decoration: underline;
}

.copyright-logo {
    width: 108px;
    height: 38px;
    background: url("../img/logo-htmlacademy.png")
}


/* FORMS */

form {
  text-align: left;
}

form h2{
  margin-bottom: 25px;
}

form p {
    font-size: 14px;
    line-height: 16px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.range-filter,
.catalog-popular,
.catalog-fatness,
.range-filter{
  display: inline-block;
  vertical-align: top;
  margin-bottom: 15px;
}

.catalog-popular {
    width: 195px;
    margin-right: 15px;
}

.catalog-popular p,
.catalog-fatness p,
.catalog-fillers p,
.range-filter p{
  margin-left: 16px;
}

.catalog-popular select {
    width: 195px;
    height: 35px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 0px 18px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border: 0;
}

.range-filter {
    width: 220px;
    margin-right: 15px;
}

.range-controls {
    height: 36px;
    position: relative;
    padding: 0px 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    cursor: pointer;
}

.scale {
    position: absolute;
    margin-top: 16px;
    width: 188px;
    height: 4px;
    background: rgba(255, 255, 255, 0.5);
}

.bar {
    position: absolute;
    height: 4px;
    margin-left: 25px;
    background: rgba(255, 255, 255, 1);
}

.toggle {
    display: block;
    border: 8px solid #fff;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 10px;
    top: 8px;
    left: 20px;
}

.min-toggle {
    position: absolute;
    left: 35px;
}

.max-toggle {
    position: absolute;
    left: 145px;
}

.min-price,
.max-price{
  border: none;
  width: 50px;
  background: rgba(255, 255, 255, 0);
  color: white;
}

.fatness-items{
  width: 415px;
  height: 20px;
  padding: 8px 18px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.2);
}

.catalog-fillers{
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 35px;
}

.catalog-fillers label{
  margin-right: 20px;
}

.fillers-items{
  display: inline-block;
  vertical-align: top;
  width: 700px;
  height: 20px;
  padding: 8px 18px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.2);
}

.catalog-fatness input[type="radio"],
.catalog-fillers input[type="checkbox"] {
    display: none;
}

.catalog-fatness input[type="radio"]+label,
.catalog-fillers input[type="checkbox"]+label {
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
}

.catalog-fatness input[type="radio"]+label,
.catalog-fillers input[type="checkbox"]+label {
  margin-left: 30px;
  margin-right: 15px;
}

.catalog-fillers input[type="checkbox"]+label::before {
    content: "";
    display: block;
    left: -30px;
    top: -1px;
    position: absolute;
    background-image: url("../img/icon-checkbox.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.catalog-fillers input[type="checkbox"]:checked+label::before {
    content: "";
    display: block;
    left: -30px;
    top: -1px;
    position: absolute;
    background-image: url("../img/icon-checkbox-ok.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.catalog-fillers input[type="checkbox"]+label:hover::before {
    content: "";
    display: block;
    left: -30px;
    top: -1px;
    position: absolute;
    background-image: url("../img/icon-checkbox-hover.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.catalog-fillers input[type="checkbox"]+label:active::before {
    content: "";
    display: block;
    left: -30px;
    top: -1px;
    position: absolute;
    background-image: url("../img/icon-checkbox-ok-hover.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.catalog-fatness input[type="radio"]+label::before {
    content: "";
    display: block;
    left: -30px;
    top: -1px;
    position: absolute;
    background-image: url("../img/icon-radio.png");
    background-repeat: no-repeat;
    width: 21px;
    height: 22px;
}

.catalog-fatness input[type="radio"]:checked+label::before {
    content: "";
    display: block;
    left: -30px;
    top: -1px;
    position: absolute;
    background-image: url("../img/icon-radio-ok.png");
    background-repeat: no-repeat;
    width: 21px;
    height: 22px;
}

.catalog-fatness input[type="radio"]+label:hover::before {
    content: "";
    display: block;
    left: -30px;
    top: -1px;
    position: absolute;
    background-image: url("../img/icon-radio-hover.png");
    background-repeat: no-repeat;
    width: 21px;
    height: 22px;
}

.catalog-fatness input[type="radio"]+label:active::before {
    content: "";
    display: block;
    left: -30px;
    top: -1px;
    position: absolute;
    background-image: url("../img/icon-radio-ok.png");
    background-repeat: no-repeat;
    width: 21px;
    height: 22px;
}

.catalog-fatness input[type="radio"]+label:visited::before {
    content: "";
    display: block;
    left: -30px;
    top: -1px;
    position: absolute;
    background-image: url("../img/icon-radio-ok-hover.png");
    background-repeat: no-repeat;
    width: 21px;
    height: 22px;
}

form button{
  display: inline-block;
  border: 2px solid #fff;
  width: 140px;
  height: 34px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  cursor: pointer;
  margin-left: 25px;
}

.paginator{
  width: 100%;
  text-align: right;
  display: inline-block;
}

.paginator li{
  display: inline-block;
}

.paginator a{
  display: inline-block;
  width: 26px;
  height: 25px;
  color: #fff;
  margin-right: 2px;
}
